.green-card {
  background-color: green;
}

.red-card {
  background-color: red;
}
.content-type1 {
  background-color: green;
  color: white;
}

.content-type2 {
  background-color: red;
  color: white;
}

/* Add more classes for other types if needed */
