.content-card {
    border: 2px solid #000;
    padding: 10px;
    border-radius: 6%;
    margin-bottom: 10px;
    border-style: dashed;
  }
  
 
  
  header {
    font-weight: bold;
  }
  
  img {
    max-width: 100%;
    cursor: pointer;
  }
  