<app-create-content></app-create-content>

<!-- Search input field and button -->
<div>
  <input type="text" [(ngModel)]="searchTitle" placeholder="Enter the title">
  <button (click)="searchContent()">Search</button>
</div>
<!-- Display search result message -->
<div [ngStyle]="{ color: searchResultExists ? 'green' : 'red' }">
  {{ searchResultMessage }}
</div>


<!-- Display Content list -->

  <div *ngFor="let content of contents" [ngClass]="{ 'highlighted': content.title === searchTitle }">
    
  </div> 


<!-- Display Content with no type -->
<h2>Content with no type:</h2>
<ul>
  <li *ngFor="let content of contents | contentFilter">
    <div class="card">
      <h2>{{ content.title }}</h2>
      <div class="image-container">
        <img *ngIf="content.imgURL; else defaultImg"  [src]="content.imgURL" class="card-img-top" alt="...">
        <ng-template #defaultImg>
          <img src="../../assets/img/img0.jpeg" class="card-img-top" alt="Default Image">
        </ng-template>
        </div>
      <div class="description" *ngIf="content.description">
        <p>{{ content.description }}</p>
      </div>
      <div class="creator" *ngIf="content.creator">
        <p>Creator: {{ content.creator }}</p>
      </div>
      <div class="type" *ngIf="content.type">
        <p appHoverAffect="underline" class="card-text">{{ content.type }}</p>
      </div>
      <div class="tags" *ngIf="content.tags && content.tags.length > 0">
        <p *ngFor="let tag of content.tags" appHoverAffect="bold">Tag: {{ tag }}</p>
      </div>      
    </div>
  </li>
</ul>



<!-- Display Content with type 'Type1' -->
<h2>Content with type 'Funny':</h2>
<ul>
  <li *ngFor="let content of contents | contentFilter:'Funny'">
    <div class="card">
      <h2>{{ content.title }}</h2>
      <div class="image-container">
        <img *ngIf="content.imgURL; else defaultImg"  [src]="content.imgURL" class="card-img-top" alt="...">
        <ng-template #defaultImg>
          <img src="../../assets/img/img0.jpeg" class="card-img-top" alt="Default Image">
        </ng-template>
        </div>
      <div class="description" *ngIf="content.description">
        <p>{{ content.description }}</p>
      </div>
      <div class="creator" *ngIf="content.creator">
        <p>Creator: {{ content.creator }}</p>
      </div>
      <div class="type" *ngIf="content.type">
      <p appHoverAffect="underline" class="card-text">{{ content.type }}</p>
      </div>
      <div class="tags" *ngIf="content.tags && content.tags.length > 0">
        <p *ngFor="let tag of content.tags" appHoverAffect="bold">Tag: {{ tag }}</p>
      </div>      
    </div>
  </li>
</ul>

<!-- Display Content with type 'Type2' -->
<h2>Content with type 'Action':</h2>
<ul>
  <li *ngFor="let content of contents | contentFilter:'Action'">
    <div class="card">
      <h2>{{ content.title }}</h2>
      <div class="image-container">
        <img *ngIf="content.imgURL; else defaultImg"  [src]="content.imgURL" class="card-img-top" alt="...">
        <ng-template #defaultImg>
          <img src="../../assets/img/img0.jpeg" class="card-img-top" alt="Default Image">
        </ng-template>
        </div>
      <div class="description" *ngIf="content.description">
        <p>{{ content.description }}</p>
      </div>
      <div class="creator" *ngIf="content.creator">
        <p>Creator: {{ content.creator }}</p>
      </div>
      <div class="type" *ngIf="content.type">
        <p appHoverAffect="underline" class="card-text">{{ content.type }}</p>
      </div>
      <div class="tags" *ngIf="content.tags && content.tags.length > 0">
        <p *ngFor="let tag of content.tags" appHoverAffect="bold">Tag: {{ tag }}</p>
      </div>      
    </div>
  </li>
</ul>





